<div class="col-md-12">
  <h2 class="text-center">Add Education</h2>
  <li style="text-align: center; color: red" *ngFor="let error of errorList">
    {{error}}
  </li>
  <form #educationForm="ngForm">
    <div class="form-group">
      <label for="nameOfOrganisation">Company name:</label>
      <input type="nameOfOrganisation" [(ngModel)]="education.nameOfOrganisation" placeholder="Name of organisation" name="nameOfOrganisation" class="form-control"
             id="nameOfOrganisation" #nameOfOrganisation="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'nameOfOrganisation'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="nameOfOrganisation.invalid && (nameOfOrganisation.dirty || nameOfOrganisation.touched)"
           class="alert alert-warning">
        <div *ngIf="nameOfOrganisation.errors.required">
          Name of organisation is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="direction">Direction</label>
      <input [(ngModel)]="education.direction" placeholder="Direction" name="direction" class="form-control" id="direction" #direction="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'direction'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="direction.invalid && (direction.dirty || direction.touched)"
           class="alert alert-warning">
        <div *ngIf="direction.errors.required">
          Direction is required.
        </div>
      </div>
    </div>

    <label for="startDate">End Date:</label>
    <form class="form-inline">
      <div class="form-group">
        <input id="startDate" class="form-control" placeholder="yyyy-mm-dd"
               name="dpbirthdate" [(ngModel)]="startDate" ngbDatepicker #startDateDp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="startDateDp.toggle()" type="button">
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>

        </div>
      </div>
    </form>

    <label for="endDate">Start Date:</label>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input id="endDate" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="endDate" ngbDatepicker #endDateDp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDateDp.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="form-group">
      <label for="specialization">Specialization:</label>
      <input [(ngModel)]="education.specialization" placeholder="Specialization" name="specialization" class="form-control" id="specialization">
    </div>
    <div class="form-group">
      <label for="professionalTitle">Professional Title:</label>
      <input [(ngModel)]="education.professionalTitle" placeholder="Professional Title" name="professionalTitle" class="form-control" id="professionalTitle">
    </div>

    <button (click)="save()" class="btn btn-success" role="button">SAVE</button>

    <a (click)="goToNext()" class="btn btn-success" role="button" style="margin: 2px"
       routerLinkActive="active">NEXT</a>
  </form>
</div>
