<div class="col-md-12">
  <h2 class="text-center">Edit Employer</h2>

  <li style="text-align: center; color: red" *ngFor="let error of errorList">
    {{error}}
  </li>

  <form>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="employer.emailAddress" placeholder="Email" name="email" class="form-control"
             id="email">
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input required [(ngModel)]="employer.name" placeholder="First Name" name="firstName" class="form-control"
             id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input [(ngModel)]="employer.surname" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
      <label for="pesel">Pesel:</label>
      <input type="pesel" [(ngModel)]="employer.pesel" placeholder="Pesel" name="pesel" class="form-control" id="pesel">
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input [(ngModel)]="employer.address" placeholder="address" name="address" class="form-control"
             id="address">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input [(ngModel)]="employer.phoneNumber" placeholder="phoneNumber" name="phoneNumber" class="form-control"
             id="phoneNumber">
    </div>
    <!--<label for="hiredateDp">Hiredate:</label>-->
    <!--<form class="form-inline">-->
      <!--<div class="form-group">-->
        <!--<div class="input-group">-->
          <!--<input [(ngModel)]="hiredate" placeholder={{employer.hiredate}} name="hiredateDp" class="form-control"-->
                 <!--id="hiredateDp" ngbDatepicker #hiredateDp="ngbDatepicker" [value] =employer.hiredate>-->
          <!--<div class="input-group-append">-->
            <!--<button class="btn btn-outline-secondary" (click)="hiredateDp.toggle()" type="button">-->
              <!--<img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->

    <!--<label for="birthdateDp">Birthdate:</label>-->
    <!--<form class="form-inline">-->
      <!--<div class="form-group">-->
        <!--<div class="input-group">-->
          <!--<input [(ngModel)]="birthDate" [value] =employer.birthDate placeholder={{employer.birthDate}} name="birthdateDp" class="form-control"-->
                 <!--id="birthdateDp" ngbDatepicker #birthdateDp="ngbDatepicker" >-->
          <!--<div class="input-group-append">-->
            <!--<button class="btn btn-outline-secondary" (click)="birthdateDp.toggle()" type="button">-->
              <!--<img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->


    <div class="form-group">
      <label for="hiredate">Hiredate:</label>
      <input [(ngModel)]="employer.hiredate" placeholder="hiredate" name="hiredate" class="form-control"
             id="hiredate">
    </div>
    <div class="form-group">
      <label for="birthDate">BirthDate:</label>
      <input [(ngModel)]="employer.birthDate" placeholder="birthDate" name="birthDate" class="form-control"
             id="birthDate">
    </div>
    <a (click)="saveEmployer(employer)" class="btn btn-success" role="button"
       routerLinkActive="active">SAVE</a>
  </form>
</div>
