&nbsp;
<nav style="text-align:center">
  <h1 style="font-size: x-large; font-weight: normal">EMPLOYER WITH ID: {{employer.id}}</h1>
  &nbsp;
<a routerLink="/addExperience/{{this.employer.id}}"><button class="btn btn-success pull-right" > Add Experience</button></a>
<a routerLink="/addEducation/{{this.employer.id}}"><button class="btn btn-success pull-right" > Add Education</button></a>
<a routerLink="/addSkill/{{this.employer.id}}"><button class="btn btn-success pull-right" > Add Skill</button></a>
<a routerLink="/addHobby/{{this.employer.id}}"><button class="btn btn-success pull-right" > Add Hobby</button></a>
<a routerLink="/addUrlLink/{{this.employer.id}}"><button class="btn btn-success pull-right" > Add Url Link</button></a>
<a routerLink="/addCertification/{{this.employer.id}}"><button class="btn btn-success pull-right" > Add Certification</button></a>
</nav>

<div id="cv" *ngIf="employer">
  <div class="mainDetails">

    <div id="name">
      <h1 class="quickFade delayTwo">{{employer.name}}</h1>
      <h2 class="quickFade delayThree">{{employer.surname}}</h2>
    </div>

    <div id="contactDetails">
      <ul>
        <li>Address: {{employer.address}}</li>
        <li>Email: {{employer.emailAddress}}</li>
        <li>Phone: {{employer.phoneNumber}}</li>


      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea">


    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>

      <div class="sectionContent" >
        <article *ngFor="let experience of experiences | async">
          <h2 style="text-transform: uppercase">{{experience.companyName}}</h2>
          <h5>{{experience.position}}</h5>
          <p class="subDetails">{{experience.startDate}} - {{experience.endDate}}</p>
          <p></p>
        </article>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Skills</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills" *ngFor="let skill of skills | async">
          <li>{{skill.name}}- {{skill.level}}</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


      <section>
        <div class="sectionTitle">
          <h1>Education</h1>
        </div>

        <div class="sectionContent" >
          <article *ngFor="let education of educations | async">
            <h2>{{education.nameOfOrganisation}}</h2>
            <p class="subDetails">{{education.startDate}} - {{education.endDate}}</p>
            <p>Direction: {{education.direction}}</p>
            <p>Specialization: {{education.specialization}}</p>
            <p>Professional Title: {{education.professionalTitle}}</p>
          </article>
        </div>
        <div class="clear"></div>
      </section>

    <section>
      <div class="sectionTitle">
        <h1>Hobbies</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills" *ngFor="let hobby of hobbies | async">
          <li>{{hobby.category}} - {{hobby.name}}</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Url Links</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills" *ngFor="let urlLink of urlLinks | async">
          <li> <span style="font-weight:bold">{{urlLink.linkName}}</span> - {{urlLink.url}}</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Certifications</h1>
      </div>

      <div class="sectionContent" >
        <article *ngFor="let certification of certifications | async">
          <h2>{{certification.name}}</h2>
          <p class="subDetails">Date Of Get: {{certification.dateofGet}}</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Employer in projects</h1>
      </div>
        <div class="sectionContent" >
          <article *ngFor="let employerProject of employerProjects | async">
            <h2>Function: {{employerProject.function}}</h2>
            <li>Duration: {{employerProject.startDate}}- {{employerProject.endDate}}</li>
          </article>
      </div>
      <div class="clear"></div>
    </section>



  </div>
</div>
