<div class="col-md-12">
  <h2 class="text-center">Add Certification</h2>
  <li style="text-align: center; color: red" *ngFor="let error of errorList">
    {{error}}
  </li>
  <form #certificationForm="ngForm">
    <div class="form-group">
      <label for="name">Name of certification</label>
      <input type="name" [(ngModel)]="certification.name" placeholder="Name of link" name="name" class="form-control"
             id="name" #name="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'name'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-warning">
        <div *ngIf="name.errors.required">
          Certification Date is required.
        </div>
      </div>
    </div>

    <label for="dateOfGet">Date of get:</label>
    <form class="form-inline">
      <div class="form-group">
        <input id="dateOfGet" class="form-control" placeholder="yyyy-mm-dd"
               name="dpbirthdate" [(ngModel)]="dateOfGet" ngbDatepicker #dateofgetDp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dateofgetDp.toggle()" type="button">
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>

        </div>
      </div>
    </form>

    <button (click)="save()" class="btn btn-success" role="button">SAVE</button>
    <a (click)="goToNext()" class="btn btn-success" role="button" style="margin: 2px"
       routerLinkActive="active">BACK TO EMPLOYER LIST</a>
  </form>
</div>
