<div class="col-md-12">
  <h2 class="text-center">Add Hobby</h2>
  <li style="text-align: center; color: red"*ngFor="let error of errorList">
    {{error}}
  </li>
  <form #hobbyForm="ngForm">
    <div class="form-group">
      <label for="category">Hobby category:</label>
      <input type="category" [(ngModel)]="hobby.category" placeholder="Category of hobby" name="category" class="form-control"
             id="category" #category="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'category'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="category.invalid && (category.dirty || category.touched)"
           class="alert alert-warning">
        <div *ngIf="category.errors.required">
          Category is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Hobby name</label>
      <input [(ngModel)]="hobby.name" placeholder="Name of hobby" name="name" class="form-control" id="name" #name="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'name'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-warning">
        <div *ngIf="name.errors.required">
          Hobby name is required.
        </div>
      </div>
    </div>

    <button (click)="save()" class="btn btn-success" role="button">SAVE</button>
    <a (click)="goToNext()" class="btn btn-success" role="button" style="margin: 2px"
       routerLinkActive="active">NEXT</a>
  </form>
</div>
