<div class="col-md-12">
  <h2 class="text-center">Add Skills</h2>
    <li style="text-align: center; color: red" *ngFor="let error of errorList">
      {{error}}
    </li>
  <form #skillsForm="ngForm">
    <div class="form-group">
      <label for="name">Skill name:</label>
      <input type="name" [(ngModel)]="skills.name" placeholder="Name of skill" name="name" class="form-control"
             id="name" #name="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'name'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-warning">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="level">Skill level</label>
      <input [(ngModel)]="skills.level" placeholder="Level" name="level" class="form-control" id="level" #level="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'level'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="level.invalid && (level.dirty || level.touched)"
           class="alert alert-warning">
        <div *ngIf="level.errors.required">
          Level is required.
        </div>
      </div>
    </div>

    <button (click)="save()" class="btn btn-success" role="button">SAVE</button>
    <a (click)="goToNext()" class="btn btn-success" role="button" style="margin: 2px"
       routerLinkActive="active">NEXT</a>
  </form>
</div>
