<div class="col-md-12">
  <h2 class="text-center">Add Employer</h2>
  <li style="text-align: center; color: red" *ngFor="let error of errorList">
    {{error}}
  </li>

  <form form method="POST" #employerForm="ngForm">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input id="email" name="email" class="form-control"
             required placeholder="Email"
             [(ngModel)]="employer.emailAddress" #email="ngModel" ngModel [email]="true">
        <ng-template ngFor let-error [ngForOf]="parameters|getValues">
          <p class="alert alert-danger" *ngIf="error.key === 'emailAddress'">
            {{error.val}}
          </p>
        </ng-template>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-warning">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Email is not valid.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input required [(ngModel)]="employer.name" placeholder="First Name" name="firstName" class="form-control"
             id="firstName" #name="ngModel" ngModel="required">
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'name'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-warning">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input [(ngModel)]="employer.surname" placeholder="Last name" name="lastName" class="form-control" id="lastName"
             #surname="ngModel" required>
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'surname'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
           class="alert alert-warning">
        <div *ngIf="surname.errors.required">
          Surname is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="pesel">Pesel:</label>
      <input type="pesel" [(ngModel)]="employer.pesel" placeholder="Pesel" name="pesel" class="form-control" id="pesel"
             #pesel="ngModel" required
             pattern="[0-9]{11}">
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'pesel'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="pesel.invalid && (pesel.dirty || pesel.touched)"
           class="alert alert-warning">

        <div *ngIf="pesel.errors.required">
          Pesel is required.
        </div>
        <div *ngIf="pesel.errors.invalid">
          Pesel is invalid.
        </div>
        <div *ngIf="pesel.errors.pattern">
          PESEL should have 11 numbers.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input [(ngModel)]="employer.address" placeholder="Address" name="address" class="form-control" id="address"
             #address="ngModel" required>
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'address'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="address.invalid && (address.dirty || address.touched)"
           class="alert alert-warning">
        <div *ngIf="address.errors.required">
          Address is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input [(ngModel)]="employer.phoneNumber" placeholder="PhoneNumber" name="phoneNumber" class="form-control"
             id="phoneNumber" #phoneNumber="ngModel" required pattern="[0-9]*">
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'phoneNumber'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
           class="alert alert-warning">
        <div *ngIf="phoneNumber.errors.required">
          PhoneNumber is required.
        </div>
        <div *ngIf="phoneNumber.errors.pattern">
          PhoneNumber should have only numbers.
        </div>
      </div>
    </div>

    <label for="birthDate">Birthdate:</label>
    <form class="form-inline">
      <div class="form-group">
        <input id="birthDate" class="form-control" placeholder="yyyy-mm-dd"
               name="dpbirthdate" [(ngModel)]="birthDate" ngbDatepicker #birthdateDp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="birthdateDp.toggle()" type="button">
            <img src="" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>

        </div>
      </div>
    </form>

    <label for="hiredate">Hiredate:</label>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input id="hiredate" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="hiredate" ngbDatepicker #hiredateDp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="hiredateDp.toggle()" type="button">
              <img src="" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>

  </form>
  <button (click)="save()" class="btn btn-success" role="button">NEXT</button>
  <!--[disabled] = "!employerForm.form.valid" -->
</div>



