<h1 style="text-align:center">Employers</h1>
<tr></tr>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Pesel</th>
    <th>Birthdate</th>
    <th>Hiredate</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Email Address</th>
    <th>VIEW</th>
    <th>EDIT</th>
    <th>DELETE
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employer of employers | async">
    <td>{{employer.id}}</td>
    <td>{{employer.name}}</td>
    <td>{{employer.surname}}</td>
    <td>{{employer.pesel}}</td>
    <td>{{employer.birthDate}}</td>
    <td>{{employer.hiredate}}</td>
    <td>{{employer.address}}</td>
    <td>{{employer.phoneNumber}}</td>
    <td >{{employer.emailAddress}}</td>
    <td><a routerLink="detail/{{employer.id}}" class="btn btn-primary active" role="button" routerLinkActive="active">VIEW</a></td>
    <td><a routerLink="edit/{{employer.id}}" class="btn btn-success" role="button" routerLinkActive="active">EDIT</a></td>
    <td><button type="button" class="btn btn-danger" (click)=delete(this.employer.id)>DELETE</button></td>
    <!--<td><input type="Button" onclick="reloadData()" value="DELETE"></td>
    <td><input type="Button" style = "background-color: #000000" value = "GENERATE PDF"></td>-->
  </tr>
  </tbody>
</table>

<!--
<div *ngFor="let employer of employers | async">
  <employer-details [employer]='employer'></employer-details>
</div> -->
