table {
  width: 100%;
  border-collapse:collapse;
  font-family: sans-serif;
}
td, th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 15px;
}
.Button {
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
