<div class="col-md-12">
  <h2 class="text-center">Add Url Links</h2>
  <li style="text-align: center; color: red"*ngFor="let error of errorList">
    {{error}}
  </li>
  <form #urlForm="ngForm">
    <div class="form-group">
      <label for="name">Name of link</label>
      <input type="name" [(ngModel)]="urlLinks.linkName" placeholder="Name of link" name="name" class="form-control"
             id="name" #name="ngModel" required>
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'linkName'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-warning">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="url">URL Link: </label>
      <input [(ngModel)]="urlLinks.url" placeholder="URL Link" name="url" class="form-control" id="url" #url="ngModel" required>
      <ng-template ngFor let-error [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="error.key === 'url'">
          {{error.val}}
        </p>
      </ng-template>
      <div *ngIf="url.invalid && (url.dirty || url.touched)"
           class="alert alert-warning">
        <div *ngIf="url.errors.required">
          URL Link is required.
        </div>
      </div>
    </div>

    <button (click)="save()" class="btn btn-success" role="button">SAVE</button>
    <a (click)="goToNext()" class="btn btn-success" role="button" style="margin: 2px"
       routerLinkActive="active">NEXT</a>
  </form>
</div>
