<div style="padding: 20px;">
  <h1 style="text-align:center; color: #00000">{{title}}</h1>
  <h3 style="text-align:center;">{{description}} </h3>
  <nav style="text-align:center">
    <a routerLink="employer" class="btn btn-primary active" role="button" routerLinkActive="active">EMPLOYERS LIST</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">ADD EMPLOYER</a>
  </nav>
  <router-outlet></router-outlet>

</div>

