<div class="col-md-12">
  <h2 class="text-center">Add Experience</h2>
  <li style="text-align: center; color: red" *ngFor="let error of errorList">
    {{error}}
  </li>
  <form #experienceForm="ngForm">
    <div class="form-group">
      <label for="companyName">Company name:</label>
      <input type="companyName" [(ngModel)]="experience.companyName" placeholder="companyName" name="companyName" class="form-control"
             id="companyName" #companyName="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'companyName'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)"
           class="alert alert-warning">
        <div *ngIf="companyName.errors.required">
          Company Name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input [(ngModel)]="experience.position" placeholder="Position" name="position" class="form-control" id="position" #position="ngModel" required>
      <ng-template ngFor let-errors [ngForOf]="parameters|getValues">
        <p class="alert alert-danger" *ngIf="errors.key === 'position'">
          {{errors.val}}
        </p>
      </ng-template>
      <div *ngIf="position.invalid && (position.dirty || position.touched)"
           class="alert alert-warning">
        <div *ngIf="position.errors.required">
          Position is required.
        </div>
      </div>
    </div>

    <label for="startDate">End Date:</label>
    <form class="form-inline">
      <div class="form-group">
        <input id="startDate" class="form-control" placeholder="yyyy-mm-dd"
               name="dpbirthdate" [(ngModel)]="startDate" ngbDatepicker #startDateDp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="startDateDp.toggle()" type="button">
            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>

        </div>
      </div>
    </form>

    <label for="endDate">Start Date:</label>
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input id="endDate" class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="endDate" ngbDatepicker #endDateDp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDateDp.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>

    <button (click)="save()" class="btn btn-success" role="button">SAVE</button>

    <a (click)="goToNext()" class="btn btn-success" role="button" style="margin: 2px"
       routerLinkActive="active">NEXT</a>
  </form>
</div>
